body{
    font-family: font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.text{
    margin-left: 30px;
}
h1{
    color: black;
    
}
.welcome{
    font-size: 50px;
    margin-top: 100px;
    margin-left: 100px;

}
.sr{
    font-size: 50px;
    margin-left: 100px;
}
h3{
    margin-left: 100px;

    color: black;
}
p{
    margin-left: 100px;

    color: black;
}
.orange{
    color: rgb(255, 168, 7);
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient( purple,tomato);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 100px;

  
}
.top-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;

}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 0%;
}

